# app variables
APP_PORT=8080
APP_EPORT=8081

# postgres variables
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=parking_stats_service_app
DB_SERVER=parking-stats-service-db
DB_PORT=5432
DB_EPORT=5433